{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="row align-items-start">
    <div class="col"></div>
    <div class="col-2">
      Inlogging logo
    </div>
</div>
<div class="row align-items-center">
    <div class="col">
        <h1>Climb that wall</h1>
    </div>
</div>
<div class="row">
    <div class="col text-center">
      Climbing halls
    </div>
</div>
<div class="row">
    <div class="col-1">
      arrow for more cilmbing halls
    </div>
    <div class="col">
        Hall card
    </div>
    <div class="col">
        Hall card
    </div>
    <div class="col">
        Hall card
    </div>
    <div class="col-1">
        arrow for more cilmbing halls
    </div>
</div>
    
{% endblock %}
