{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% load static %}

{% block content %}
<div class="container">
    <div class="row align-items-center text-center">
        <div class="col m-4">
            <h1 id="intro-header" class="fw-bold py-4">Climb That Wall</h1>
            <p class="pb-4">
                Welcome to Climb That Wall, your go-to for finding the nearest and best climbing gyms in cities across Sweden. 
                Whether you're a climbing pro or a total newbie, our platform hooks you up with top-notch facilities for all 
                skill levels. Dive into our huge directory to discover climbing gyms packed with good instructors, and a 
                super-friendly climbing community. With Climb That Wall, you can easily hunt down gyms by location, scope out reviews, 
                and get all the deets for your next climbing escapade. 
                <br>
                <br>
                Let's kick off your climbing journey and soar to new heights today!
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col text-center">
        <h2>Climbing gyms</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-1">
            <i class="fa-solid fa-angles-left"></i>
        </div>
        <div class="col">
            <div class="card">
                <img src="{% static './images/designer2.jpeg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="{% static './images/designer3.jpeg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="{% static './images/designer4.jpeg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-1">
            <i class="fa-solid fa-angles-right"></i>
        </div>
    </div>
</div>
{% endblock %}
