{% extends 'base.html' %}

{% block title %}Thank you{% endblock %}

{% load static %}

{% block content %}
<div class="container">
    <div class="row align-items-center mx-lg-4 text-center">
        <div class="col m-md-4">
            <h1 id="intro-header" class="fw-bold py-4">Thank you for your message</h1>
            <h3 class="pt-2 p-md-4">
                We have received your message and will get back to you as soon as we can.
            </h3>
        </div>
    </div>

    <div class="row mb-4 align-items-center justify-content-center">
        <div class="col-12 text-center">
            <a href="{% url 'home' %}" class="btn btn-search">Back to home</a>
        </div>
    </div>

</div>

{% endblock %}