{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Profile - {{ profile.user.username }}{% endblock %}

{% block content %}
    <div class="one-site-box">
        <div class="row mt-2 text-center">
            <h1 class="d-none">Profile page</h1>
            <div class="col">
                <h2>Profile - {{ user.username }}</h2>
            </div>
        </div>
        <div class="container">
            <div class="row align-items-start">
                <div class="col-12 col-md-6">
                    <div class="profile-image text-center">
                        {% if profile.profile_pic %}
                        <img src="{{ profile.profile_pic.url }}" alt="{{ profile.user.username }}" class="img-fluid">
                        {% else %}
                        <img src="{% static 'images/default_profile_pic.webp' %}" alt="{{ profile.user.username }}" class="img-fluid">
                        {% endif %}
                    </div>

                    {% if request.user == profile.user %}
                    <div class="edit-btn m-3">
                        <button id="myBtn" class="btn btn-edit" data-bs-toggle="modal" data-bs-target="#editProfileModal">Edit Profile</button>
                        <a class="btn btn-delete" href="{% url 'delete_profile_confirm' request.user.id %}">Delete Profile</a>
                    </div>
                    {% endif %}
                </div>
                <div class="col-12 col-md-6">
                    <h3>About me</h3>
                    <div class="text-info-profile">
                    {{ profile.bio|safe }}
                    </div>
                    <div>
                        <p><strong>Joined: </strong> {{ profile.user.date_joined|date:'d M Y' }}</p>
                        <p><strong>Favotie Type of Climbing: </strong> {{ profile.fav_climb }}</p>
                        {% comment %} <p><strong>Reveiws: </strong> {{ profile.location }}</p> {% endcomment %}
                    </div>
                    <p>{{ user.email }}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        {% if request.user == profile.user %}
            <div class="accordion" id="accordionPanelsStayOpenExample">
                <div class="accordion-item">
                    <h2 class="accordion-header fw-bolder" id="panelsStayOpen-headingOne">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                            My Comments
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
                        <div class="accordion-body">
                            {% if comments %}
                                {% for comment in comments %}
                                <image src="{{ comment.climbing_gym.images.headimage.url }}" alt="{{ comment.climbing_gym.images.headimage_alt }}" class="img-fluid comment-img">
                                    <div class="row">
                                        <h3>{{ comment.climbing_gym.title }}</h3>
                                        <div class="col">
                                            <div>{{ comment.rating }}</div>
                                            <div>{{ comment.comment }}</div>
                                        </div>
                                    </div>
                                {% endfor %}
                            {% else %}
                            <div class="col text-center">
                                <div><strong>You have yet not made any comments</strong></div>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% if request.user.is_staff %}
                <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                    My Climbing gyms
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
                    <div class="accordion-body">
                        {% if climbing_gyms != 0 %}
                            {% for climbing_gym in climbing_gyms %}
                            <a href="{% url 'gyms' climbing_gym.slug %}" class="climbing_gyms" aria-lable="Click to view {{ gym.title }}">
                                <div class="one-site-box">
                                    <div class="row align-items-center">
                                        <div class="col gym-img">
                                            <image src="{{ climbing_gym.images.headimage.url }}" alt="{{ climbing_gym.images.headimage_alt }}" class="img-fluid">
                                        </div>
                                        <div class="col">
                                            <h3>{{ climbing_gym.title }}</h3>
                                            <div class="col">
                                                <div><strong>{{ climbing_gym.rating }}</strong></div>
                                                <div>{{ climbing_gym.description|truncatechars:50 }}</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col edit-btn m-3">
                                        <a class="btn btn-edit" href="#">Edit</a>
                                        <a class="btn btn-delete" href="#">Delete</a>
                                    </div>
                                </div>
                            {% comment %} {% url 'edit_climbing_gym' climbing_gym.id %} {% endcomment %}
                            {% comment %} {% url 'delete_climbing_gym_confirm' climbing_gym.id %} {% endcomment %}
                            {% endfor %}
                        {% else %}
                        <div class="col text-center">
                            <div>You have yet not created any Climbing gyms</div>
                        </div>
                        {% endif %}
                    </div>
                </div>
                </div>
                {% endif %}
            </div> 
        {% endif %}                 
    </div>
    
    <!-- The Modal -->
    <div id="myModal" class="modal mt-5">

    <!-- Modal content -->
    <div class="modal-content">
      <span class="close fs-1">&times;</span>
      <form method="POST" action="{% url 'edit_profile' request.user.id %}" enctype="multipart/form-data">
        <h3>Edit Profile</h3>
        {% csrf_token %}
        {{ form|crispy }}
        {{ form.media }}
        <div class="d-flex justify-content-center">
          <button type="submit" class="btn btn-edit">Edit</button>
        </div>

      </form>
    </div>
  
  </div>


{% endblock %}

{% block extra_js %}
{{ block.super }}
    <script>
        // Get the modal
        const modal = document.getElementById("myModal");

        // Get the button that opens the modal
        const btn = document.getElementById("myBtn");

        // Get the <span> element that closes the modal
        const span = document.getElementsByClassName("close")[0];

        // When the user clicks the button, open the modal 
        btn.onclick = function() {
            modal.style.display = "block";
        }

        // When the user clicks on <span> (x), close the modal
        span.onclick = function() {
            modal.style.display = "none";
        }

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
        
    </script>
{% endblock %}