
:root {
    /* Colours */
    --background: #d3d3d3 ;
    --dark-grey: #5a5a5a;
    --black: #000;
    --gren: #00a97f;
    --purpule: #9e9dff;

    /* Utils */
    --border: 1px solid #00000030;
}

/* General styling */

body {
    background: var(--background);
    width: 100%;
    margin: 0;
    padding: 0;    
}

.text-clr-white {
    color: var(--background);
}

.container {
    margin: 0;
    max-width: 100% !important;
}


/* Navbars */

.active {
    font-size: larger;
    font-weight: bold;
}
    /* Up to medium screens */
#offcanvasNavbar {
    background: linear-gradient(90deg, rgba(0,0,0,1) 35%, rgba(255,255,255,0) 35%), url(../images/navbar-image.webp) no-repeat center top;
    background-size: contain;
    color: var(--background);
    border-right: none;
}

.offcanvas {
    --bs-offcanvas-width: 250px;
}

.offcanvas-header {
    color: var(--background);   
    padding-bottom: 0;
}
    /* Medium screens and up */
.nav-bar {
    background: url(../images/navbar-image.webp) no-repeat left top/cover;
    margin: 0;
    min-height: 150vh;
    padding: 0;
}

    /* Sign in links */
#signin {
    font-size: large;
}


/* Home page */

#intro-header {
    font-size: 4rem;
}

.card-body {
    background: var(--dark-grey);
    border: var(--border);
}