@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Arsenal+SC:ital,wght@0,400;0,700;1,400;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    /* Colours */
    --off-white: #dde0d9 ;
    --grey-green: #8ea496;
    --black: #000;
    --light-blue: #accacc;
    --red: #aa2610;
    --light-red: #b57887;
    --yellow: #D1C66C;
    --off-white-80: rgb(221, 224, 217, .8);
    --grey-green-60: rgb(142, 164, 150, .6);

    /* Fonts */
    --h1-font: 'Amatic SC', sans-serif;
    --heading-font: 'Arsenal SC', sans-serif;
    --header-font: 'Poppins', sans-serif;
    --body-font: 'Montserrat', sans-serif;

    /* Utils */
    --border: 2px solid #00000030;
}

/* General styling */

body {
    background: url(../images/background-image.webp) no-repeat center center/cover;
    color: var(--black);
    width: 100%;
    margin: 0;
    padding: 0;    
}

h1 {
    font-family: var(--h1-font);
    font-weight: 700;
    font-size: calc(1.375rem + 3vw);
}

h2, h3, h4, h5, h6 {
    font-family: var(--header-font);

}

h2 small {
    color: #636363;
}

a {
    text-decoration: none;
    color: var(--black);
}

a:hover {
    font-weight: bold;
}

.text-clr-white {
    color: var(--off-white);
}

.container {
    margin: 0;
    max-width: 100% !important;
}

#second {
    height: auto;
}
/* Messages */
.success {
    background-color: var(--grey-green);
    border: 1px solid #69a57f;
    border-radius: 15px;
}

.info {
    background-color: var(--light-blue);
    border: 1px solid #6cb8d1;
    border-radius: 15px;
}

.error {
    background-color: var(--light-red);
    border: 1px solide var(--red);
    border-radius: 15px;
}

/* Navbars */

.active {
    font-weight: bold;
    border-bottom: 1px solid var(--off-white);
}

.offcanvas-body .active {
    border-bottom: none;
}

.offcanvas-body .active:after {
    content: '';
    display: block;
    position: relative;
    width: 50%;
    border: 1px solid var(--off-white);
}

.offcanvas-backdrop {
    background-color: var(--off-white);
}

    /* Up to medium screens */
#offcanvasNavbar {
    background: linear-gradient(90deg, rgba(0,0,0,1) 35%, rgba(255,255,255,0) 35%), url(../images/navbar-image.webp) no-repeat center top;
    font-family: var(--heading-font);
    background-size: contain;
    color: var(--off-white);
    border-right: none;
}

.offcanvas {
    --bs-offcanvas-width: 250px;
}

.offcanvas-header {
    color: var(--off-white);   
    padding-bottom: 0;
}

.offcanvas-header .btn-close {
    color: var(--off-white);
    padding: 2px;
}
    /* Medium screens and up */
.nav-bar {
    background: url(../images/navbar-image.webp) no-repeat top center/cover;
    font-family: var(--heading-font);
    font-size: 25px;
    margin: 0;
    min-height: 100svh;
    padding: 0;
}

    /* Sign in links */
#signin {
    font-size: large;
    font-family: var(--heading-font);
    font-weight: bold;
}

/* Footer */

.the-footer {
    width: 100%;
    background-color: var(--black);
    color: var(--off-white);
    font-family: var(--h1-font);
    font-size: 1rem;
    padding: 1rem 0;
}

.the-footer a {
    color: var(--off-white);
    font-size: 150%;
    padding: 0 15px;
}

/* Home page */

#intro-header {
    font-size: 9.5vw;
}

.card-homepage {
    max-height: 400px;
}

.card-homepage > .card-img-top {
    height: 150px;
    object-fit: cover;
}

/* Profile page */
.one-site-box {
    background-color: var(--off-white);
    opacity: 0.85;
    border: var(--border);
    border-radius: 20px;
    margin: 1rem 5vw;
}

.profile-image {
    position: relative;
    width: 50%;
}

.profile-image:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.profile-image img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.text-info-profile {
    margin-bottom: 16px;
}

.text-info-profile p {
    color: var(--black);
    margin: 0;
}

.edit-btn {
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
    width: 100%;
}

.btn-edit {
    background-color: var(--light-blue);
    color: var(--black);
    font-weight: 600;
    margin: 0 1rem;
}

.btn-edit:hover {
    background-color: none;
    border:2px solid var(--light-blue);
}

.btn-delete {
    background-color: var(--red);
    color: var(--off-white);
    font-weight: 600;
    margin: 0 1rem;
}

.btn-delete:hover {
    background-color: none;
    border:2px solid var(--red);
}

.image-container-my-comments {
    position: relative;
    width: 25%;
    max-width: 130px;
    min-width: 100px;
    max-height: 130px;
    min-height: 100px; /* 1:1 Aspect Ratio */
}

.image-container-my-comments img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* Veiw My Comments/gyms/tips */

.accordion {
    margin: 0 5% 10%;
    background-color: var(--off-white);
    opacity: 0.8;
}

.accordion-button:not(.collapsed) {
    background-color: var(--grey-green);
    color: var(--black);
}

.gym-img > img {
    border-radius: 17px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.btn-create-gym {
    background-color: var(--yellow);
    border: var(--border);
}

.btn-create-gym:hover {
    background-color: none;
    border:2px solid var(--yellow);
}

/* Edit profile model */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.2);
}

.modal-content {
    background-color: var(--off-white);
    margin: 2% auto;
    padding: 20px;
    border: 1px solid var(--off-white);
    width: 80%;
}

/* Edit comment */

.box-comment-edit {
    background-color: var(--off-white-80);
    border: var(--border);
    border-radius: 20px;
    margin: 1rem 5vw;
    width: 72%;
}

.btn-save {
    background-color: var(--grey-green);
    font-weight: 600;
    margin: 0 1rem;
}

.btn-save:hover {
    background-color: none;
    border:2px solid var(--grey-green);
}

/* Search climbing gyms page */
.btn-search {
    background-color: var(--light-blue);
    font-weight: 600;
    margin: 0 1rem;
}

.btn-search:hover {
    background-color: none;
    border:2px solid var(--light-blue);
}

.btn-search-reverse {
    border:2px solid var(--light-blue);
    font-weight: 400;
    margin: 0 1rem;
}

.btn-search-reverse:hover {
    background-color: var(--light-blue);
}

.dropdown-menu {
    background-color: var(--light-blue);
    opacity: 0.90;
}
.card {
    background-color: var(--off-white);
    opacity: 0.85;
    margin: 0 auto;
    border: var(--border);
    box-shadow: 8px 8px 7px rgba(0, 0, 0, 0.2), 0px 5px 10px 1px rgba(0, 0, 0, 0.19);
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}

.info-header {
    flex-wrap: wrap !important;
}
.gym-listing {
    margin: 0 auto;
    padding: 1.2rem 4rem;
}

.climbing_gyms {
    text-decoration: none;
    color: var(--black);
}

.climbing_gyms:hover {
    cursor: pointer;
}

.img-fluid {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.city-name{
    font-weight: bold;
    margin-bottom: .5rem;
}

.small-description {
    font-size: 0.8rem;
}

/* Details info for gym */

.image-item {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gymtitle {
    font-size: 6vw;
    font-weight: 700;
}

.icons-socialmedia {
    font-size: 2vw;
    margin: 0 1rem;
}

.btn-website {
    background-color: var(--grey-green);
    width: 20vw;
    margin: 1rem 0.5rem;
}

/* Review/Comment */

.make-a-review {
    flex-direction: row-reverse;
}

.text-box {
    margin-bottom: 10px;
}

    /* Star function and styling */
.rating-box {
    background-color: var(--grey-green);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    width: max-content;
    align-items: center;
    gap: 10px;
    padding: 1rem;
    margin: 1rem 0;
}

.rating-box input {
    display: none;
} 

.rating-box label {
    position: relative;
    display: inline-block;
    color: var(--off-white);
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.rating-box label:before {
    content: '★';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5rem;
    cursor: pointer;
}

.rating-box label:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40px;
    height: 40px;
    display: inline-block;
    border-radius: 50%;
    z-index: 1;
    font-size: 1.5rem;
}

.rating-input .active {
    font-size: 2rem;
    font-weight: none;
    border-bottom: none;
}

.rating-box label.active:after {
    animation: pluse 500ms ease-in-out;
}

.clr-yellow {
    color: 'yellow';
}

.clr-grey {
    color: #888;
}

@keyframes pluse {
    0% {
        background: var(--yellow);
        opacity: 0.9;
        transform: translate(-50%, -50%) scale(0);
    }
    50% {
        background: var(--yellow);
        opacity: 0.8;
        transform: translate(-50%, -50%) scale(1.2);
    }
    100% {
        background: var(--yellow);
        opacity: 0.7;
        transform: translate(-50%, -50%) scale(1);
    }
}

/* Style comments */
.view-comments {
    background-color: var(--off-white-80);
    opacity: 0.7;
    border: var(--border);
    border-radius: 10px;
    margin: 1rem 0;
}


.headercomments {
    display:flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.image-container {
    position: relative;
    width: 30%;
    max-width: 90px;
    min-width: 80px;
    max-height: 90px;
    min-height: 80px; /* 1:1 Aspect Ratio */
}

.image-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.body-comment {
    background-color: var(--grey-green-60);
    width: 100%;
    padding: 0 1rem;
    border: var(--border);
    border-radius: 10px;
}

.comment-text {
    margin: 0 auto;
    padding: 1rem;
}



/* Sign out */

#logout-div {
    margin-top: 15%;
}

@media (max-width: 900px) {
    /* Style navbar */
    .navbar-expand-md .navbar-nav {
        font-size: 20px;
    }
    
}