<footer class="the-footer sticky-bottom p-3 text-center">
    <div class="container">
        <div class="row">
            <div class="col">
                <p>&copy; 2024 Climb that wall</p>
            </div>
            <div class="col">
                <p>Follow us on social media</p>
                <a href="https://www.facebook.com" target="_blank" class="social-icon"><i class="fab fa-facebook"></i></a>
                <a href="https://www.instagram.com" target="_blank" class="social-icon"><i class="fab fa-instagram"></i></a>
                <a href="https://www.twitter.com" target="_blank" class="social-icon"><i class="fab fa-twitter"></i></a>
            </div>
        </div>
    <div>
</footer>