{% load static %}

{% with request.resolver_match.url_name as url_name %}
<div class="col-2 nav-bar d-none d-md-block navbar-expand-md" id="height-not-fixed">
    <div class="collapse navbar-collapse mt-3" id="navbarNav">
      <ul class="nav navbar-nav flex-column text-clr-white px-3">
        <li class="nav-item">
          <a class="nav-link {% if url_name == 'home'%}active{% endif %}" href="{% url 'home' %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if url_name == 'search_gyms'%}active{% endif %}" href="{% url 'search_gyms' %}">Gyms</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if url_name == 'contactus'%}active{% endif %}" href="{% url 'contactus' %}">Contact</a>
        </li>
      </ul>
    </div>
</div>
{% endwith %}