{% extends "base.html" %}

{% load i18n %}
{% load allauth account%}

{% block title %}
    {% trans "Sign In" %}
{% endblock title %}
{% block content %}
<div class="row align-items-center">
    <div class="col text-center">
    <h1>Climb that wall</h1>
    {% element h2 %}
        {% trans "Sign In" %}
    {% endelement %}
        {% setvar link %}
            <a href="{{ signup_url }}">
            {% endsetvar %}
            {% setvar end_link %}
            </a>
        {% endsetvar %}
        {% element p %}
            {% blocktranslate %}If you have not created an account yet, then please {{ link }}sign up{{ end_link }} first.{% endblocktranslate %}
        {% endelement %}
    </div>
    <div class="col py-3 one-site-box text-start">
        <form class="form" method="POST" action= {% url 'account_login' %}>
            {% csrf_token %}
            {{ form|crispy }}
            {% comment %} {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}">
            {% endif %} {% endcomment %}

            <button type="submit" class="btn btn-search ">Log In</button>
        </form>
    </div>
</div>
{% endblock content %}
