{% extends "account/base_manage.html" %}
{% load allauth i18n %}
{% blocktitle %}
    {% trans "Log Out" %}
{% endblock title %}
{% block content %}
<div class="row align-items-center">
    {% element h1 %}
        {% trans "Sign Out" %}
    {% endelement %}
    {% element p %}
        {% trans 'Are you sure you want to sign out?' %}
    {% endelement %}
    {% url 'account_logout' as action_url %}
    <form class="form" method="POST" action="{{ action_url }}">
        {% csrf_token %}
        {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}">
        {% endif %} 
        <button type="submit" class="btn btn-primary">Log Out</button>
    </form> 
</div>
{% endblock content %}
