{% extends "account/base_entrance.html" %}
{% load i18n allauth account %}
{% block head_title %}
    {% trans "Password Reset" %}
{% endblock head_title %}
{% block content %}
    <div class="row align-items-center">
        <div class="col text-center">
            {% element h1 %}
                {% trans "Password Reset" %}
            {% endelement %}
            <h2 class="d-none">Explanation</h2>
            <h3> In Progress </h3>
            <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
            <p> We apologize that this feature is not working </p>

            <p> Forgotten your password? Please contact us through our contact form and we will help you reset your password </p>
            <div>
            <a href="{% url 'contactus' %}" class="btn btn-search mt-2"> Contact Us </a>
            <a href="{% url 'home' %}" class="btn btn-save mt-2"> Home page </a>
            </div>
        </div>
    
    </div>
    
    
{% endblock content %}
