{% extends "base.html" %}

{% load static %}

{% block title %}Climb Gyms{% endblock %}

{% block content %}
    <div class="container">
        <div class="row text-center">
                <h1>Find your nearest climbing gym</h1>
        </div>
        <div class="container" id="search-box">
            <div class="row" >
                <div class="col" id="search-bar">
                    <form action="{% url 'search_gyms' %}" method="GET" role="search">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="Search for climbing gyms" aria-label="Search for climbing gyms" aria-describedby="button-addon2" name="q">
                            <button class="btn btn-search-reverse" type="submit" id="button-addon2">Search</button>
                        </div>
                        <div class="d-flex">
                            <div class="col-12 col-sm-10 d-none d-sm-block my-2 d-flex text-start text-lg-center">
                                <button class="btn btn-search mx-1" type="submit" name="button_query" value="Stockholm">Stockholm</button>
                                <button class="btn btn-search mx-1" type="submit" name="button_query" value="Gothenburg">Gothenburg</button>
                                <button class="btn btn-search mx-1" type="submit" name="button_query" value="Malmö">Malmo</button>
                                <button class="btn btn-search mx-1" type="submit" name="reset_list" value="Reset">Reset</button>
                            </div>
                            <div class="col-12 col-sm-2 d-flex justify-content-end mx-0 my-2">
                                <div class="btn-group dropstart">
                                    <button type="button" class="btn btn-search-reverse dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                        Filter
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <button class="dropdown-item" type="submit" name="filter" value='rating'>
                                                <i class="fa-solid fa-ranking-star"></i> Rating
                                            </button>
                                        </li>
                                        <li>
                                            <button class="dropdown-item" type="submit" name="filter" value='az'>
                                                <i class="fa-solid fa-arrow-down-a-z"></i> A-Z</button>
                                        </li>
                                        <li>
                                            <button class="dropdown-item" type="submit" name="filter" value='za'>
                                                <i class="fa-solid fa-arrow-down-z-a"></i> Z-A</button>
                                        </li>
                                        <li>
                                            <button class="dropdown-item" type="submit" name="reset_list" value='Reset'>
                                                <i class="fa-solid fa-reply"></i> Reset</button>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        {% if page_obj.has_previous or page_obj.has_next %}
        <div class="container">
            <ul class="pagination justify-content-between">
                {% if page_obj.has_previous %}
                <li>
                    <a href="?page={{ page_obj.previous_page_number }}"
                      class="btn btn-search">&laquo;</a>
                </li>
                {% else %}
                <li>
                    <a href="#"
                      class="btn disabled btn-search-reverse">&laquo;</a>
                </li>
                {% endif %}
                {% if page_obj.has_next %}
                <li>
                    <a href="?page={{ page_obj.next_page_number }}"
                      class="btn btn-search">&raquo;</a>
                </li>
                {% else %}
                <li>
                    <a href="#"
                      class="btn disabled btn-search-reverse">&raquo;</a>
                </li>
                {% endif %}
            </ul>
        </div>
        {% else %}
        {% endif %}
        <div class="container">
            <div class="row d-flex align-items-start">
                <div class="col py-md-2 px-md-4 px-1 gym-listing">
                    {% if climbing_gyms|length == 0 %}
                    <div class="text-center">
                        <h2 class="fw-bold">No climbing gyms found</h2>
                    </div>
                    {% else %}
                    {% for gym in climbing_gyms %}
                    <a href="{% url 'gyms' gym.slug %}" class="climbing_gyms">
                        <div class="card mb-3">
                            <div class="row g-0">
                                <div class="col-md-4">
                                    <img src="{{ gym.images.headimage.url }}" class="img-fluid rounded-start" alt="{{ gym.images.headimage_alt }}">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <div class="d-flex justify-content-between info-header">
                                            <h4 class="card-title">{{ gym.title }}</h4>
                                                <h5 class="card-title"><strong>Rating:</strong><br>
                                                    <i class="{% if gym.rating > 0.5 and gym.rating < 1 %} fa-solid fa-star-half-stroke 
                                                    {% elif gym.rating >= 1 %} fa-solid fa-star 
                                                    {% else %} fa-regular fa-star {% endif %}"></i>
                                                    <i class="{% if gym.rating > 1.5 and gym.rating < 2 %} fa-solid fa-star-half-stroke 
                                                    {% elif gym.rating >= 2 %} fa-solid fa-star 
                                                    {% else %} fa-regular fa-star {% endif %}"></i>
                                                    <i class="{% if gym.rating > 2.5 and gym.rating < 3 %} fa-solid fa-star-half-stroke 
                                                    {% elif gym.rating >= 3 %} fa-solid fa-star 
                                                    {% else %} fa-regular fa-star {% endif %}"></i>
                                                    <i class="{% if gym.rating > 3.5 and gym.rating < 4 %} fa-solid fa-star-half-stroke 
                                                    {% elif gym.rating >= 4 %} fa-solid fa-star 
                                                    {% else %} fa-regular fa-star {% endif %}"></i>
                                                    <i class="{% if gym.rating > 4.5 and gym.rating < 5 %} fa-solid fa-star-half-stroke 
                                                    {% elif gym.rating == 5 %} fa-solid fa-star 
                                                    {% else %} fa-regular fa-star {% endif %}"></i>
                                                </h5>
                                            <div data-coreui-read-only="true" data-coreui-toggle="rating" data-coreui-value="3">
                                            </div>
                                        </div>
                                        <p class="card-text city-name">{{ gym.city }}</p>
                                        <p class="card-text small-description d-none d-md-block">{{ gym.description|truncatechars:150 }}</p>
                                        <p class="card-text"><small class="text-body-secondary"><strong>Keyword:</strong></small></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                    {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
        {% if page_obj.has_previous or page_obj.has_next %}
        <div class="container">
            <ul class="pagination justify-content-between">
                {% if page_obj.has_previous %}
                <li>
                    <a href="?page={{ page_obj.previous_page_number }}"
                      class="btn btn-search">&laquo; PREV</a>
                </li>
                {% else %}
                <li>
                    <a href="#"
                      class="btn disabled btn-search-reverse">&laquo; PREV</a>
                </li>
                {% endif %}
                {% if page_obj.has_next %}
                <li>
                    <a href="?page={{ page_obj.next_page_number }}"
                      class="btn btn-search">NEXT &raquo;</a>
                </li>
                {% else %}
                <li>
                    <a href="#"
                      class="btn disabled btn-search-reverse">NEXT &raquo;</a>
                </li>
                {% endif %}
            </ul>
        </div>
        {% else %}
        {% endif %}
    </div>
{% endblock %}

                