{% extends "base.html" %}

{% load static %}

{% block title %}Delete Review{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-12 text-center">
            <h1>Delete Review</h1>
            <p><strong>Are you sure you want to delete your review from {{ comment.climbing_gym.title }}?</strong></p>
            <form method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-delete">Yes, delete</button>
                <a href="{% url 'profile' request.user.id %}" class="btn btn-search">Cancel</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}