{% extends "base.html" %}
{% load static %}

{% block title %}Edit/Delete Comment{% endblock %}


{% block content %}
<div class="container">
    <div class="text-center">
        <h1>Edit/Delete Review</h1>
        <h2>{{comment.climbing_gym.title}}</h2>
        <form method="post" class="mt-4">
            {% csrf_token %}
            <div class="row justify-content-center wrap">
                <div class="col-10 col-md-6 d-grid justify-content-center">
                    <div class="mb-0"><strong>Rating</strong></div>
                    <div class="rating-box">
                        <div class="rating-input">
                            <label for="star-1"></label>
                            <label for="star-2"></label>
                            <label for="star-3"></label>
                            <label for="star-4"></label>
                            <label for="star-5"></label>

                            <input type="radio" id="star-1" name="rating" value="1" {% if comment.rating == 1 %} checked {% endif %}>
                            <input type="radio" id="star-2" name="rating" value="2" {% if comment.rating == 2 %} checked {% endif %}>
                            <input type="radio" id="star-3" name="rating" value="3" {% if comment.rating == 3 %} checked {% endif %}>
                            <input type="radio" id="star-4" name="rating" value="4" {% if comment.rating == 4 %} checked {% endif %}>
                            <input type="radio" id="star-5" name="rating" value="5" {% if comment.rating == 5 %} checked {% endif %}>
                        </div>
                    </div>
                </div>
                <div class="col-10 col-md-6">
                    <div class="text-box fw-bold">
                        <label for="comment">Comment</label>
                        <textarea class="form-control" id="comment" name="body" rows="3">{{ comment.body }}</textarea>
                    </div>
                </div>
            </div>
            <div class="mt-2">
                <button type="submit" class="btn btn-save mt-2">Save</button>
                <a class="btn btn-delete  mt-2" href="{% url 'delete_comment' comment.id %}">Delete</a>
                <a class="btn btn-search mt-2" href="{% url 'profile' comment.user.id %}">Cancel</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}

{% block extra_js %}
{{ block.super }}
<script src="{% static 'js/star-function.js' %}"></script>
{% endblock %}
