{% extends "base.html" %}

{% load static %}

{% block title %}{{ gym.title }}{% endblock %}

{% block content %}
    <div class="container">
        <div class="row text-center">
            <div class="col">
                <h1 class="gymtitle">{{gym.title}}</h1>
            </div>
        </div>
        <div class="col headimagesroll mx-4">
            <div id="carouselExampleControls" class="carousel slide pointer-event" data-bs-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item">
                    <svg class="bd-placeholder-img bd-placeholder-img-lg d-block w-100" width="800" height="350" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: First slide" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#555" dy=".3em">First slide</text></svg>
              
                  </div>
                  <div class="carousel-item active">
                    <svg class="bd-placeholder-img bd-placeholder-img-lg d-block w-100" width="800" height="350" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Second slide" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#666"></rect><text x="50%" y="50%" fill="#444" dy=".3em">Second slide</text></svg>
              
                  </div>
                  <div class="carousel-item">
                    <svg class="bd-placeholder-img bd-placeholder-img-lg d-block w-100" width="800" height="350" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Third slide" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#555"></rect><text x="50%" y="50%" fill="#333" dy=".3em">Third slide</text></svg>
              
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev" fdprocessedid="4lzyib">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next" fdprocessedid="cn3i59">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
            {% comment %} <div id="carouselExample" class="carousel slide">
                <div class="carousel-inner">
                    <div class="carousel-item image-item active">
                        <img src="{{ gym.images.headimage.url }}" class="d-block w-100" alt="{{ gym.images.headimage_alt }}">
                    </div>
                    {% if gym.images.image1 %}
                        <div class="carousel-item image-item">
                            <img src="{{ gym.images.image1.url }}" class="d-block w-100" alt="{{ gym.images.image_alt }}">
                        </div>
                    {% endif %}
                    {% if gym.images.image2 %}
                        <div class="carousel-item image-item">
                            <img src="{{ gym.images.image2.url }}" class="d-block w-100" alt="{{ gym.images.image_alt }}">
                        </div>
                    {% endif %}
                    {% if gym.images.image3 %}
                        <div class="carousel-item image-item">
                            <img src="{{ gym.images.image3.url }}" class="d-block w-100" alt="{{ gym.images.image_alt }}">
                        </div>
                    {% endif %}
                </div>
                {% if gym.images.image1 %}
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                {% endif %}
            </div> {% endcomment %}
        </div>
        {% if request.user == gym.user %}
        <div class="row mt-3 d-flex justify-content-center text-center">
            <div class="col">
                <a href="{% url "edit_climbing_gym" gym.id %}" class="btn btn-edit">Edit</a>
            </div>
            <div class="col">
                <a href="{% url 'delete_climbing_gym' gym.id %}" class="btn btn-delete">Delete</a>
            </div>
        </div>
        {% endif %}
        <div class="row mx-md-4 justify-content-center">
            <div class="row ">
                <div class="col pt-2 p-md-2 px-md-4">
                    <h2 class="p-1">About</h2>
                    <p>{{gym.description}}</p>
                </div>
            </div>
            <div class="row d-flex">
                <div class="col d-none">
                    <div class="mapsgoogle">
                        <h3 class="d-none">Location Googlemaps</h3>
                    </div> 
                </div>
                <div class="col">
                    <div class="row d-flex justify-content-between">
                        <div class="col">
                            <h4>Rating</h4>
                        </div>
                        <div class="col text-end">
                            <i class="{% if gym.rating > 0.5 and gym.rating < 1 %} fa-solid fa-star-half-stroke 
                            {% elif gym.rating > 1 %} fa-solid fa-star 
                            {% else %} fa-regular fa-star {% endif %}"></i>
                            <i class="{% if gym.rating > 1.5 and gym.rating < 2 %} fa-solid fa-star-half-stroke 
                            {% elif gym.rating > 2 %} fa-solid fa-star 
                            {% else %} fa-regular fa-star {% endif %}"></i>
                            <i class="{% if gym.rating > 2.5 and gym.rating < 3 %} fa-solid fa-star-half-stroke 
                            {% elif gym.rating > 3 %} fa-solid fa-star 
                            {% else %} fa-regular fa-star {% endif %}"></i>
                            <i class="{% if gym.rating > 3.5 and gym.rating < 4 %} fa-solid fa-star-half-stroke 
                            {% elif gym.rating > 4 %} fa-solid fa-star 
                            {% else %} fa-regular fa-star {% endif %}"></i>
                            <i class="{% if gym.rating > 4.5 and gym.rating < 5 %} fa-solid fa-star-half-stroke 
                            {% elif gym.rating == 5 %} fa-solid fa-star 
                            {% else %} fa-regular fa-star {% endif %}"></i>
                        </div>
                    </div>
                    <div class="col">
                        <h4>City</h4>
                        <div>{{gym.city}}</div>
                    </div>
                    <div class="row">
                        <a href="{{ gym.socialmedia.website }}" target="_blank" class="btn btn-website">
                            Visit website
                        </a>
                    </div>
                    <div class="col">
                        <div class="col">
                            <h4>Social media</h4>
                        </div>
                        <div class="col icons-socialmedia">
                            {% if gym.socialmedia.facebook %}
                            <a href="{{gym.socialmedia.facebook}}" target="_blank">
                                <i class="fab fa-facebook"></i>
                            </a>
                            {% endif %}
                            {% if gym.socialmedia.instagram %}
                            <a href="{{gym.socialmedia.instagram}}" target="_blank">
                                <i class="fab fa-instagram"></i>
                            </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col mx-4">
            <div class="col">
                <h2 class="p-1">Comments <small>({{ comment_count }})</small></h2>
            </div>
            <!--Comments -->
            {% if request.user.is_authenticated %}
            <div class="row make-a-review my-3">
                <div class="col-12 col-md-6">
                    <form method="POST" action="{% url 'create_comment' gym.id %}" class="comment-form">
                        {% csrf_token %}
                        <h3>Leave a Review</h3>
                        <div> Username: <strong>{{ user.username }}</strong></div>
                            <div class="rating-box">
                                <p class="mb-0"><strong>Rating</strong></p>
                                <div class="rating-input">
                                    <label for="star-1"></label>
                                    <label for="star-2"></label>
                                    <label for="star-3"></label>
                                    <label for="star-4"></label>
                                    <label for="star-5"></label>

                                    <input type="radio" id="star-1" name="rating" value="1">
                                    <input type="radio" id="star-2" name="rating" value="2">
                                    <input type="radio" id="star-3" name="rating" value="3">
                                    <input type="radio" id="star-4" name="rating" value="4">
                                    <input type="radio" id="star-5" name="rating" value="5">
                                </div>
                            </div>
                            <div class="text-box">
                                <label for="comment">Comment</label>
                                <textarea class="form-control" id="comment" name="body" rows="3"></textarea>
                            </div>
                        <button type="submit" class="btn btn-search">Submit</button>
                    </form>
                </div>
                <div class="col">
                    {% if comments %}
                        {% for comment in comments %}
                        <div class="row view-comments py-2">
                        <!-- Media object -->
                        <a href="{% url 'profile' comment.user.id %}" aria-label="Click to view user profile {{comment.user.username}}">
                            <div class="col comment">
                                <!-- Image and usernamne -->
                                <div class="headercomments">
                                    <div class="image-container">
                                        {% if comment.user.profile.profile_pic %}
                                        <img src="{{ comment.user.profile.profile_pic.url }}" class="me-3 rounded-circle img-thumbnail" alt="{{ comment.user.profile.fav_climb }} Profile Photo">
                                        {% else %}
                                        <img src="{% static 'images/default_profile_pic.webp' %}" class="me-3 rounded-circle img-thumbnail" alt="Default Profile Photo">
                                        {% endif %}
                                    </div>
                                    <div class="col ms-3">                            
                                            <h5><small>Username: </small>{{ comment.user.username }}</h5>
                                            <div class="col mb-1 text-start">
                                                <i class="{% if comment.rating > 0 %} fa-solid {% else %} fa-regular {% endif %} fa-star"></i>
                                                <i class="{% if comment.rating > 1 %} fa-solid {% else %} fa-regular {% endif %} fa-star"></i>
                                                <i class="{% if comment.rating > 2 %} fa-solid {% else %} fa-regular {% endif %} fa-star"></i>
                                                <i class="{% if comment.rating > 3 %} fa-solid {% else %} fa-regular {% endif %} fa-star"></i>
                                                <i class="{% if comment.rating > 4 %} fa-solid {% else %} fa-regular {% endif %} fa-star"></i>
                                                <span class="d-none">
                                                    {{ comment.rating }}
                                                </span>
                                            </div>
                                        <small class="text-muted">Posted on  {{ comment.created_at|date:'H:i - d M Y' }}</small>
                                    </div>
                                </div>
                                <!-- Media body -->
                                {% if comment.body != 'None' %}
                                <div class="body-comment my-3">
                                    <div class="comment-text">{{ comment.body }}</div>
                                </div>
                                {% endif %}
                               
                                <!--End Media body -->
                                {% if user.is_authenticated and comment.user == user %}
                                <div class="edit-btn mt-2">
                                    <a class="btn btn-edit" href="{% url 'edit_comment' comment.id %}"><i class="fa-regular fa-pen-to-square"></i></a>
                                    <a class="btn btn-delete" href="#"><i class="fa-regular fa-trash-can"></i></a>
                                </div>
                                {% endif %}
                            </div>
                        </a>
                        </div>
                        {% endfor %}
                    {% else %}
                    <div class="form-title text-center my-4">
                        <h1>Did you Try this Climbing Gym?</h1>
                    </div>
                    <h5 class="text-center">Share your Experience with us</h5>
                    {% endif %}
                
                    </div>
                    {% else %}
                    <div class="col text-center">
                        <div>Did you Try this Climbing Gym?</div>
                        <div>Share your Experience with us</div>
                        <h3 class="text-center"><a chref="{% url 'account_login' %}">Log in</a> to leave a comment</h3>
                    </div>
                    
                </div>
            </div>
            {% endif %}

        </div>
    </div>
{% endblock %}  

{% block extra_js %}
{{ block.super }}
<script src="{% static 'js/star-function.js' %}"></script>
{% endblock %}
