{% extends "base.html" %}

{% load static %}

{% block title %}{{ gym.title }}{% endblock %}

{% block content %}
    <div class="container">
        <div class="row text-center">
            <div class="col">
                <h1 class="gymtitle">{{gym.title}}</h1>
            </div>
        </div>
        <div class="col headimagesroll mx-4">
            <div id="carouselExampleControls" class="carousel slide pointer-event" data-bs-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item">
                    <svg class="bd-placeholder-img bd-placeholder-img-lg d-block w-100" width="800" height="350" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: First slide" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#555" dy=".3em">First slide</text></svg>
              
                  </div>
                  <div class="carousel-item active">
                    <svg class="bd-placeholder-img bd-placeholder-img-lg d-block w-100" width="800" height="350" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Second slide" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#666"></rect><text x="50%" y="50%" fill="#444" dy=".3em">Second slide</text></svg>
              
                  </div>
                  <div class="carousel-item">
                    <svg class="bd-placeholder-img bd-placeholder-img-lg d-block w-100" width="800" height="350" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Third slide" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#555"></rect><text x="50%" y="50%" fill="#333" dy=".3em">Third slide</text></svg>
              
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev" fdprocessedid="4lzyib">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next" fdprocessedid="cn3i59">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
            {% comment %} <div id="carouselExample" class="carousel slide">
                <div class="carousel-inner">
                    <div class="carousel-item image-item active">
                        <img src="{{ gym.images.headimage.url }}" class="d-block w-100" alt="{{ gym.images.headimage_alt }}">
                    </div>
                    {% if gym.images.image1 %}
                        <div class="carousel-item image-item">
                            <img src="{{ gym.images.image1.url }}" class="d-block w-100" alt="{{ gym.images.image_alt }}">
                        </div>
                    {% endif %}
                    {% if gym.images.image2 %}
                        <div class="carousel-item image-item">
                            <img src="{{ gym.images.image2.url }}" class="d-block w-100" alt="{{ gym.images.image_alt }}">
                        </div>
                    {% endif %}
                    {% if gym.images.image3 %}
                        <div class="carousel-item image-item">
                            <img src="{{ gym.images.image3.url }}" class="d-block w-100" alt="{{ gym.images.image_alt }}">
                        </div>
                    {% endif %}
                </div>
                {% if gym.images.image1 %}
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                {% endif %}
            </div> {% endcomment %}
        </div>
        <div class="row mx-4 justify-content-center">
            <div class="row ">
                <div class="col p-2 px-4">
                    <h2 class="p-1">About</h2>
                    <p>{{gym.description}}</p>
                </div>
            </div>
            <div class="row d-flex">
                <div class="col">
                    <div class="mapsgoogle">
                        <h3 class="d-none">Location Googlemaps</h3>
                    </div> 
                </div>
                <div class="col">
                    <div class="row d-flex justify-content-between">
                        <div class="col">
                            <h4>Rating</h4>
                        </div>
                        <div class="col text-end">
                            <p>Stars</p>
                        </div>
                    </div>
                    <div class="col">
                        <h4>City</h4>
                        <div>{{gym.city}}</div>
                    </div>
                    <div class="row">
                        <a href="{{gym.website}}" class="btn btn-website">
                            Visit website
                        </a>
                    </div>
                    <div class="col">
                        <div class="col">
                            <h4>Social media</h4>
                        </div>
                        <div class="col icons-socialmedia">
                            {% if gym.socialmedia.facebook %}
                            <a href="{{gym.socialmedia.facebook}}">
                                <i class="fab fa-facebook"></i>
                            </a>
                            {% endif %}
                            {% if gym.socialmedia.instagram %}
                            <a href="{{gym.socialmedia.instagram}}">
                                <i class="fab fa-instagram"></i>
                            </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col mx-4">
            <div class="col">
                <h2 class="p-1">Comments</h2>
            </div>
            <!--Comments -->
            {% if request.user.is_authenticated %}
            <div class="col">
                {% comment %} <form method="POST" action="{% url 'add_comment' gym.id %}" class="comment-form">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="comment">Comment</label>
                        <textarea class="form-control" id="comment" name="comment" rows="3"></textarea> 
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form> {% endcomment %}
            </div>
            <div class="comments">
                {% if comments %}
                    {% for comment in comments %}
                    <div class="row">
                    <!-- Media object -->
                        <div class=" d-flex comment">
                            <!-- Image -->
                            <a href="{% url 'profile' comment.user.profile.id %}" aria-label="Click to view user profile {{comment.user.username}}">
                                <img src="{{ comment.user.profile.profile_pic.url }}" class="me-3 rounded-circle" style="width: 60px; height: 60px;" alt="{{ comment.user.username }} Profile Photo">
                            </a>
                            <!-- Media body -->
                            <div class="media-body">
                                <h5 class="fw-bold">{{comment.user.username}}</h5>
                                <small class="text-muted">Posted on  {{ comment.created_on }}</small>
                                <p id="comment-body{{ comment.id }}">{{ comment.body  }}</p>
                            </div>
                            <!--End Media body -->
                            <div class="ms-auto">
                                {% if user.is_authenticated and comment.author == user %}
                                    <button class="btn btn-edit d-flex comment-icon" comment_id="{{ comment.id }}"><i class="fa-regular fa-pen-to-square"></i></button>
                                    <button class="btn btn-delete  d-flex comment-icon" comment_id="{{ comment.id }}"><i class="fa-regular fa-trash-can"></i></button>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                {% else %}
                <div class="form-title text-center my-4">
                    <h1>Did you Try this Climbing Gym?</h1>
                </div>
                <h5 class="text-center">Share your Experience with us</h5>
                {% endif %}
            
            </div>
            {% else %}
            <div class="col text-center">
                <div>Did you Try this Climbing Gym?</div>
                <div>Share your Experience with us</div>
                <h3 class="text-center"><a chref="{% url 'account_login' %}">Log in</a> to leave a comment</h3>
            </div>
            {% endif %}

        </div>
    </div>

{% endblock %}  