{% extends 'base.html' %}

{% block title %}Error 401{% endblock %}

{% load static %}

{% block content %}
<div class="container">
    <div class="row align-items-center mx-lg-4 text-center">
        <div class="col m-md-4">
            <h1 id="intro-header" class="fw-bold py-4">Error 401</h1>
            <p class="pt-2 p-md-4">
                <strong>You are not authorized to view this page. Please check the URL or go back to the home page.</strong>
            </p>
        </div>
    </div>
    <div class="row justify-content-center">        
        <a href="{% url 'home' %}" class="btn btn-search w-50">Go back to home</a>
    </div>
</div>
    
{% endblock %}