{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    
    <link rel="stylesheet" href="{% static '/css/base.css' %}">
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/61067b666c.js" crossorigin="anonymous"></script>

    <title>Climb that wall - {% block title %}{% endblock %}</title>
</head>
<body>
    <div class="container">
      <div class="row align-items-start">
        <div class="col-2 nav-bar d-none d-md-block navbar-expand-md">
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="nav navbar-nav flex-column text-color-white px-3">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Gyms</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Articels</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Contact</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col">
          <div class="col d-flex justify-content-end" id="signin">
            <button class="navbar-toggler d-md-none" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
              <i class="fa-solid fa-bars"></i>
            </button>
            <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
              <div class="offcanvas-header">
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
              </div>
              <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                  <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="#">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Gyms</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Articels</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="p-2">Sign up</div>
            <div class="p-2">Log in</div>
            <div class="p-2">
              <i class="fa-solid fa-lock"></i>
            </div>
          </div>
          <div class="text-center">
          {% block content %}

          {% endblock %}
          </div>
        </div>
      </div>
    </div>

    <footer class="fixed-bottom">
        <p>&copy; 2024 Climb that wall</p>
    </footer>
</body>